.div{
    background-color: #f8f9fa;

}
*, ::after, ::before {
    box-sizing: border-box;
}
span {
    color: red;
}
*, ::after, ::before {
    box-sizing: border-box;
}
legend{
    text-align: center;
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-bottom: 20px;
    margin-top: 10px;

    border: none;

}
.form-control {

    width: 75%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s;
    width: 100%;
    box-sizing: border-box;
}
    
    label{
        color:black;


    }
    body{
        font-family: var(--bs-body-font-family);
        background-color: #fff;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 16px;
    }
    select {
        margin-top: 10px;

        width: 100px;
        height: auto;
        padding: 0px;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
        margin: 10px;
    }
    input{
      width: 150px;
      margin: 10px;
      margin-top: 10px;

      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
    }
    form {
        position: relative;
        
        width: 1200px;
        height: 498px;
        margin: 0 auto;
    }
    .someDiv {
        margin-bottom: 20px; 
     }

     .input-small{
        width: 400px;
     height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
        border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      background-color: #fff;
      padding-right: 1em;

     }

     .input-medium{
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;

     }
     .select-small{
        width: 300px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .select-big{
        width: 900px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .select-medium{
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .select-medium400{
        width: 400px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-verySmall{
        width: 300px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-medium{
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-big{
        width: 1200px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-Err{
        border-color: #e96666;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
     }
     .input-Small200{
        width: 200px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .select-big1200{
        width: 1200px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-small:focus,
     .input-Small200:focus,
     .select-small:focus,
     .select-medium:focus,
     .select-big:focus,
     .input-medium:focus,
     .input-verySmall,
     .select-big1200,
     .input-big:focus,
     .select-medium400 {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        .input-small:required,
        .input-medium:required {
          border: 1px solid red; /* Красная рамка для обязательных полей */
         }
         .input-small:valid {
          border: 1px solid green; /* Зеленая рамка для валидно заполненных полей */
        }