    @media (orientation: portrait) and (max-width: 1100px) {
      hr {
      width: 100%;
      }
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      .text-center {
      width: 100%;
      padding: 0%;
      margin: 0%;
      margin-bottom: 10px;
      }
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      option {
        width: 100%;
      }
    }

    span {
        color: red;
    }

    legend{
        text-align: center;
        float: left;
        width: 100%;
        padding: 10px;
        margin-bottom: 0.5rem;
        font-size: calc(1.275rem + .3vw);
        line-height: inherit;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-bottom: 20px;
        margin-top: 10px;
        border: none;
        background-clip: content-box;
    }

    @media (orientation: portrait) and (max-width: 1100px){
      .row {
        display:block;
      }
    }

    .form-control {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ced4dae1;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s;
        width: 100%;
        box-sizing: border-box;
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      .form-label {
      width: 100%;
      }
    }

    select {
        border: 1px solid #ced4da;
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 10px;
        border-radius: 0.25rem;
        border-color: #ced4da;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
        padding-left: 10px;  
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      select {
      width: 100%;
      }
    }

    input{
      border: 1px solid #ced4da;
      color: black;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
      border-color: #ced4da;
      border-color: #ced4da;
      box-sizing: border-box;
      font-size: 16px;
      padding-left: 10px;
      height: 40px;
      background-color: #fff;
      padding-right: 10px;
    }
    
    @media (orientation: portrait) and (max-width: 1100px) {
      input {
      width: 100%;
      }
    }

    .input_error{
      border: 1px solid #ced4da;
      color: black;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
      border-color: #ced4da;
      box-sizing: border-box;
      background-color: #fff;
      font-size: 16px;
      padding-left: 10px;
      height: 40px;
      padding-right: 1em;
      border-color: #e26647;
      outline: 0;
      padding-right: 10px;
    }

    @media(orientation: portrait) and (max-width: 1100px){
    .input_error{
      width: 100%;
    }
  }

    form {
        position: relative;
        width: 1200px;
        height: 498px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      form {
        width: 100%;
      }
    }

    .form-ForRead {
      position: relative;
      width: 600px;
      height: 498px;
      margin: 0 auto;
      box-sizing: border-box;

    }

    @media (orientation: portrait) and (max-width: 1100px) {
      .form-ForRead {
        width: 100%;
      }
    }

    body{
      font-family: var(--bs-body-font-family);
      font-family: Verdana,'Roboto', sans-serif;
      font-size: 14.5px;
      background-color: #edf3d8c0;
      box-sizing: border-box;
      }

    @media (orientation: portrait) and (max-width: 1100px) {
      body {
        width: 100%;
      }
    }

    .textarea_show{
        border: 1px solid #ced4da;
        color: black;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
        border-color: #ced4da;
        border-radius: 0.25rem;
        box-sizing: border-box;
        font-size: 16px;
        padding: 0px;
        padding-left: 10px;
        width: 1210px;
        height: 200px;
        background-color: #fff;
        padding-right: 1em;
      }

    @media (orientation: portrait) and (max-width: 1100px) {
        .textarea_show {
          width: 100%;
        }
    }

    .textarea_show_error{
        border: 1px solid #ced4da;
        color: black;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
        border-color: #e26647;
        border-radius: 0.25rem;
        box-sizing: border-box;
        font-size: 16px;
        padding: 0px;
        padding-left: 10px;
        width: 1210px;
        height: 200px;
        background-color: #fff;
        padding-right: 1em;
    }

    @media (orientation: portrait) and (max-width: 1100px) {
        .textarea_show-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
        }
    }

    .textarea_show_error:focus{
        border-color: #e26647;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(231, 46, 46, 0.075),0 0 8px rgba(233, 43, 43, 0.6);
        box-shadow: inset 0 1px 1px rgba(228, 26, 26, 0.075),0 0 8px rgba(226, 32, 32, 0.6);
      }

     .input_w400{
      width: 400px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w400 {
        width: 100%;
      }
    }

     .input_w400-error{
      width: 400px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 370px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w400-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w390{
      width: 390px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w390 {
        width: 100%;
      }
    }

     .input_w390-error{
      width: 390px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 360px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w390-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w600{
      width: 600px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w600 {
        width: 100%;
      }
    }

     .input_w600-error{
      width: 600px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 570px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w600-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w590-error{
      width: 600px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 570px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w590-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w590{
        width: 600px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w590 {
        width: 100%;
      }
    }

     .select_w300{
      width: 295px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_w300 {
        width: 100%;
      }
    }

     .select_show{
        width: 100px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_show {
        width: 100%;
        margin: 0%;
      }
    }

     .select_w900{
        width: 905px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_w900 {
        width: 100%;
      }
    }

     .select_w595{
        width: 600px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_w595 {
        width: 100%;
      }
    }

     .select_w400{
        width: 400px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_w400 {
        width: 100%;
      }
    }

     .input_w295{
        width: 295px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w295 {
        width: 100%;
      }
    }

     .input_w295-error{
      width: 295px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 270px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w295-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w580{
       width: 575px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w580 {
        width: 100%;
      }
    }

     .input_w1210{
        width: 1210px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w1210 {
        width: 100%;
      }
    }

     .input_w1210-error{
      width: 1210px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
      background: url('exclamation-circle.svg') no-repeat 1180px  #fff;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w1210-error {
        width: 100%;
        background: url('exclamation-circle.svg') no-repeat 95%  #fff;
      }
    }

     .input_w200{
        width: 200px;
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .input_w200 {
        width: 100%;
      }
    }

     .select_w1210{
       width: 1210px; 
     }

     @media (orientation: portrait) and (max-width: 1100px) {
      .select_w1210 {
        width: 100%;
      }
    }

     .input_w400:focus,
     .input_w200:focus,
     .select_w300:focus,
     .select_w595:focus,
     .select_w900:focus,
     .input_w600:focus,
     .input_w295:focus,
     .select_w1210:focus,
     .input_w1210:focus,
     .select_w400:focus,
     .input_w390:focus,
     .input_w580:focus,
     .input_w590:focus,
     .textarea_show:focus,
     .select_show:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
      
      input:-webkit-autofill:focus,
      .input_w400:-webkit-autofill,
      .input_w400-error:-webkit-autofill,
      .input_w200:-webkit-autofill,
      .select_w300:-webkit-autofill,
      .select_w595:-webkit-autofill,
      .select_w900:-webkit-autofill,
      .input_w600:-webkit-autofill,
      .input_w600-error:-webkit-autofill,
      .input_w295:-webkit-autofill,
      .input_w295-error:-webkit-autofill,
      .select_w1210:-webkit-autofill,
      .input_w1210:-webkit-autofill,
      .input_w1210-error:-webkit-autofill,
      .select_w400:-webkit-autofill,
      .input_w390:-webkit-autofill,
      .input_w390-error:-webkit-autofill,
      .input_w580:-webkit-autofill,
      .input_w590-error:-webkit-autofill,
      .input_w590:-webkit-autofill,
      .select_show:-webkit-autofill,
      .textarea_show_error:-webkit-autofill,
      .textarea_show:-webkit-autofill{
          -webkit-box-shadow: 0 0 0 1000px white inset; 
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: 0 0 0 30px white inset;
        }

    label {float: left;}

    .labeltext {
        display: inline-block;
        padding-top: 6px;
        padding-left: 10px;   
    }

    .custom-radio {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .custom-radio+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    .custom-radio+label::before {
      content: '';
      display: inline-flex;
      width: 1.25em;
      height: 1.25em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      box-sizing: border-box;
      margin-top: 0px;
      margin-left: 16px;
      margin-right: 5px;
    }

    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
      border-color: #b3d7ff;
    }

    .custom-radio:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }

    .custom-radio:focus+label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .custom-radio:focus:not(:checked)+label::before {
      border-color: #80bdff;
    }

    .custom-radio:checked+label::before {
      border-color: #0b76ef;
      background-color: #0b76ef;
      background: url('check-circle-fill.svg') no-repeat center  #fff;
    }

    .custom-radio:disabled+label::before {
      background-color: #e9ecef;
    }

    .lead{
      color:#1b1c1dd2;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      box-sizing: border-box;
      display: inline-flex;
      font-size: 22px;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .btn-9 {
      background: #3498db;
      font-size: 20px;
      color: white;
      border-radius: 7px;
      box-shadow: 0 7px 0px #3498db86;
      display: inline-block;
      transition: all .2s;
      position: relative;
      padding: 20px 25px;
      position: relative;
      top: 0;
      cursor: pointer;
      margin:0 20px;
    }
    
     .btn-9:active {
      top: 3px;
      box-shadow: 0 2px 0px rgba(56, 119, 150, 0.322);
      transition: all .2s;
    }
    
    .file-uploader_button{
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .wrapper{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 16px;
      background: #edf3d807;
      padding-bottom: 100px;
    }

    @media (orientation: portrait) and (max-width: 1100px) {
      .wrapper {
        padding-bottom: 5px; 
        padding-left: 0%;
      }
    }

    h1{
      margin-bottom: 24px;
      font-size: 26px;
      color:#3498db;
    }

    h2,p{
      font-size: 24px;
      font-weight: 400;
      color: #007195;
      text-align: center;
    }
      
    p{
      margin-top: 15px;
      margin-bottom: 22px;
      }

    .form-drag{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      padding: 50px 20px;
      background-color: #ededed;
      border: 2px dashed rgb(186,191,195);
      border-radius: 10px;
      box-shadow: 0 0 4px 4px rgba(255,255,255,0.5);
      transition: border-color 0.3s, background-color 0.3s;
      height: auto;
      }

      @media (orientation: portrait) and (max-width: 1100px) {
        .form-drag {
          width: 90%;
          max-width: 90%;
        }
      }

      .form-drag2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 50px 20px;
        background-color: #ededed;
        border: 2px dashed rgb(186,191,195);
        border-radius: 10px;
        box-shadow: 0 0 4px 4px rgba(255,255,255,0.5);
        transition: border-color 0.3s, background-color 0.3s;
        border-color: rgb(62,201,80);
        background-color: #e6ffe3;
        height: auto;
      }

      .label-drag{
        padding: 5px 10px;
        background-color: #0998d3;
        border-radius: 5px;
        font-size: 16px;
        color:#fff;
        cursor: pointer;
      }

      @media (orientation: portrait) and (max-width: 1100px) {
        .label-drag {
          padding: 0%;
        }
      }

      .input_drag{
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        visibility: hidden;
      }

      .file-list{
        margin-top: 1.25rem;
        width: 100%;
        padding:0;
        list-style-type: none;
      }

      .file-list li{
        width: 100%;
        text-align: center;
        padding:  6px 2px;
        border: 1px dashed rgb(187,183,183);
        border-radius: 4px;
        font-size: 14px;
        line-height: 1;
        color:#515151;
      }

      .file-uploader__remove-button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-image:url('ImageDelete2.png');
        background-size: 100%;
        border-color: none;
        border: 0;
        padding: 0;
        cursor: pointer;
        padding: 0;
        margin: 0;
        margin-left: 98%;
      }

      @media (orientation: portrait) and (max-width: 1100px) {
        .file-uploader__remove-button {
          margin-left: 90%;
        }
      }

      .file-list li:nth-child(n+2){
        margin-top: 4px;
      }

      .span-drag{
        color:#fff;
      }

      h5{
        color:black;
        font-size: 24px;
        align-items: center;
      }

      .customText{
        font-weight: bold; 
        font-size: 20px; 
        text-align: center;
        margin-bottom: 15px;
      }

      .typeFiles{
        font-weight: bold; 
        font-size: 15px; 
        text-align: center;
        color:red;
        margin-left: 200px;
      }

      @media (orientation: portrait) and (max-width: 1100px) {
        .typeFiles {
        width: 100%;
        margin-left: auto;
        }
      }

      .progress-container {
        margin: 0 auto; 
        border: 1px solid #ccc;
        width: 50%; 
        align-items: center;
        border-radius: 0.25rem;
    }
    
    .progress-bar {
      align-items: center;
        height: 10px; 
        background-color: rgb(101, 157, 241); 
    }

    .btn_Edit {
      background: #426b94;
      color: #fff;
      height: 100px;
    }
    
    .btn_Edit:hover {
      background: #314f6d;
    }
    
    .btn_Edit:active {
      background: #28415a;
      top: 2px;
    }
    
    .btn_Edit:before {
      position: center;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 100%;
      width: 60px;
    }
    
    .btn_Drop {
      background: #d84519;
      color: #fff;
      height: 100px;
    }
    
    .btn_Drop:hover {
      background: #c43f17;;
    }
    
    .btn_Drop:active {
      background: #ad3814;;
      top: 2px;
    }
    
    .btn_Drop:before {
      position: center;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 100%;
      width: 60px;
    }
    