*, ::after, ::before {
    box-sizing: border-box;

}
span {
    color: red;
}

legend{
    text-align: center;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;


}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    background-clip: content-box;
}
.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ced4da;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s;
    width: 100%;
    box-sizing: border-box;
    
}
    
label{
  color:black;


}


    select {
        margin-top: 10px;
        border-color: #ced4da;
        width: 100px;
        height: auto;
        padding: 0px;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
        margin: 10px;
    }
    input{
      width: 150px;
      margin: 10px;
      margin-top: 10px;
      border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
    }
    form {
        position: relative;
        width: 1200px;
        height: 498px;
        margin: 0 auto;
        box-sizing: border-box;
        
    }

    .form-ForRead {
      position: relative;
      
      width: 600px;
      height: 498px;
      margin: 0 auto;
  }

    body{
    font-family: var(--bs-body-font-family);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background-color: #f0e5cd31;

    }

     .input-small{
      border: 1px solid #ced4da;
      color: black;
        width: 400px;
     height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
        border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      background-color: #fff;
      padding-right: 1em;
      font-size: 20px;
     }
     .input-small380{
      border: 1px solid #ced4da;
      color: black;
        width: 390px;
     height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
        border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      background-color: #fff;
      padding-right: 1em;
      font-size: 20px;
     }
     .input-small-error{
      border: 1px solid #ced4da;
      color: black;
        width: 400px;
     height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
        border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      background-color: #fff;
      padding-right: 1em;
      font-size: 20px;
      border-color: #e26647;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
     }
     .input-small380-error{
      border: 1px solid #ced4da;
      color: black;
        width: 390px;
     height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 0.25rem;
        border-color: #ced4da;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      background-color: #fff;
      padding-right: 1em;
      font-size: 20px;
      border-color: #e26647;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
     }

     .input-medium{
      border: 1px solid #ced4da;
      color: black;
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         
     }
     .input-medium-error{
      border: 1px solid #ced4da;
      color: black;
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         border-color: #e26647;
         outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);

     }
     .select-small{
      border: 1px solid #ced4da;
      color: black;
        width: 300px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         font-size: 16px;
         margin-bottom: 10px;
         padding: 0;
     }
     .select-big{
      border: 1px solid #ced4da;
      color: black;
        width: 900px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         font-size: 16px;
         margin-bottom: 10px;
         padding: 0;
     }
     .select-medium{
      border: 1px solid #ced4da;
      color: black;
      padding: 20px;
      font: 18px/1.5 sans-serif;
        width: 595px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         font-size: 16px;
         margin-bottom: 10px;
         padding: 0;
     }
     .select-medium400{
      border: 1px solid #ced4da;
      color: black;
        width: 400px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         font-size: 16px;
         margin-bottom: 10px;
         padding: 0;
     }
     .input-verySmall{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 295px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-verySmall-error{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 300px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         border-color: #e26647;
         outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
     }
     .input-medium{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 600px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-medium580{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 580px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-big{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 1210px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .input-big-error{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 1210px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
         border-color: #e26647;
         outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
     }

     .input-Small200{
      border: 1px solid #ced4da;
      color: black;
      border-color: #ced4da;
        width: 200px;
        height: 40px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: none;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 15px;
     }
     .select-big1200{
      border: 1px solid #ced4da;
      color: black;
        height: 40px;
        width: 1210px;
         margin-top: 0px;
         margin-left: 0px;
         margin-right: 10px;
         border-radius: 0.25rem;
           border-color: #ced4da;
         -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
         background-color: #fff;
         font-size: 16px;
         margin-bottom: 10px;
         padding: 0;
         
     }
     .input-small:focus,
     .input-Small200:focus,
     .select-small:focus,
     .select-medium:focus,
     .select-big:focus,
     .input-medium:focus,
     .input-verySmall:focus,
     .select-big1200:focus,
     .input-big:focus,
     .select-medium400:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
 /*       .input-small:required,
        .input-medium:required {
          border-color: #e96678;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(216, 58, 58, 0.897),0 0 8px rgba(233, 99, 99, 0.6);
          box-shadow: inset 0 1px 1px rgba(216, 58, 58, 0.897),0 0 8px rgba(233, 99, 99, 0.6);
         }
         .input-small:valid {
          border: 1px solid rgb(110, 172, 253); 
        }
        .clear {clear: both;}*/
label {float: left;}

.labeltext {
    display: inline-block;
    padding-top: 6px;
    padding-left: 10px;
    
}


.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
  content: '';
  display: inline-flex;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 5px;


}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}
.lead{
  color:#1b1c1dd2;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 22px;
}