.btn {
    border: none;
    font-family: 'Verdana';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 15px;
    width: 500px;
  }

  @media (orientation: portrait) and (max-width: 1100px) {
    .btn {
    width: 100%;
    padding: 5% 10%;
    margin: 1%;
    }
  }

  .btn:after {
    content: '';
    position: center;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn-1 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2980b9;
  }
  
  .btn-1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-1:before {
    position: center;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-1:disabled{
      background:#c9d6dfd7;
    color:#000000b2;
    }

  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: center;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 100%;
    width: 60px;
  }
 
  .glow-button {
    display: inline-block;
    padding: 15px 180px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(67, 155, 255) inset, 0 0 0 0 #3498db;
    letter-spacing: 2px;
    font-size: 22px;
    color: white;
    transition: .15s ease-in-out;
    border-color: #3498db;
  }

  @media (orientation: portrait) and (max-width: 1100px) {
    .glow-button {
    width: 100%;
    padding: 5%;
    margin: 0%;
    }
  }

  .glow-button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 0 0 #3498db;
    color: #3498db;
  }

  .glow-button:disabled{
    display: inline-block;
    padding: 15px 180px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(185, 199, 216) inset, 0 0 0 0 #c9d6dfd7;
    letter-spacing: 2px;
    font-size: 22px;
    transition: .15s ease-in-out;
    border-color: #c9d6dfd7;
    color: #000000b2;
  }
  
  @media (orientation: portrait) and (max-width: 1100px) {
    .glow-button:disabled {
    width: 100%;
    padding: 5%;
    margin: 0%;
    }
  }